<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Degital Design War.</title>
    <!-- css  -->
    <link rel="stylesheet" href="assets/css/icons.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/animation.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <!-- css  -->
  </head>
  <body>
    <!-- main  -->
    <div id="main">
      <!-- navbar  -->
      <div id="navbar">
        <div id="nav-left">
          <a href="#">digital<span>Design</span>War</a>
        </div>
        <div id="nav-right">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <!-- navbar  -->
      <!-- hero  -->
      <div id="hero">
        <div class="container my-5">
          <div class="row">
            <div class="col-md-6 align-self-center">
              <h1>Unlock Your</h1>
              <h1><span>Creative</span></h1>
              <h1>Potential.</h1>
              <div class="my-4">
                <a href="#" class="primary-button"> Explore Contest </a>
              </div>
            </div>
            <div class="col-md-6">
              <div id="heroImg">
                <img
                  src="assets/images/trophy-iso-color.png"
                  class="w-100"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hero  -->
      <!-- contest slider  -->
      <div class="white-bg">
        <img src="assets/images/top-wave.svg" class="w-100" alt="" />
        <div class="container my-5 mt-5">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"
                  ><img
                    src="assets/images/first-winner.png"
                    class="w-100"
                    alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img
                    src="assets/images/first-winner.png"
                    class="w-100"
                    alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img
                    src="assets/images/first-winner.png"
                    class="w-100"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-3 gap-3">
            <button class="slider-next">&#8592;</button>
            <button class="slider-prev">&#8594;</button>
          </div>
        </div>
        <img src="assets/images/bottom-wave.svg" class="w-100" alt="" />
      </div>
      <!-- contest slider  -->
      <!-- about   -->
      <div id="about">
        <div class="container my-5 py-5">
          <h1>Who <span>We</span> Are ?</h1>
          <p class="w-75">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
            officia iste velit dolorem facilis fugiat cumque amet ipsum alias
            facere maxime ipsa aut animi, dicta, et quibusdam! Autem eaque id
            dolorum esse quasi quo, nulla labore laudantium.
          </p>
        </div>
      </div>
      <!-- about   -->
      <!-- contenst  -->
      <div id="contest" class="white-bg">
        <img src="assets/images/top-wave.svg" class="w-100" alt="" />
        <div class="container my-5 py-2">
          <h1>Contest <span>&#8594;</span></h1>
          <div class="swiper contestSlider my-5">
            <div class="swiper-wrapper">
              <div class="swiper-slide contest-card">
                <div class="img">
                  <img src="assets/images/card.png" alt="" />
                </div>
                <h3 class="my-3">Logo Contest <span>&#8594;</span></h3>
              </div>
              <div class="swiper-slide contest-card">
                <div class="img">
                  <img src="assets/images/card.png" alt="" />
                </div>
                <h3 class="my-3">Logo Contest <span>&#8594;</span></h3>
              </div>
              <div class="swiper-slide contest-card">
                <div class="img">
                  <img src="assets/images/card.png" alt="" />
                </div>
                <h3 class="my-3">Logo Contest <span>&#8594;</span></h3>
              </div>
              <div class="swiper-slide contest-card">
                <div class="img">
                  <img src="assets/images/card.png" alt="" />
                </div>
                <h3 class="my-3">Logo Contest <span>&#8594;</span></h3>
              </div>
              <div class="swiper-slide contest-card">
                <div class="img">
                  <img src="assets/images/card.png" alt="" />
                </div>
                <h3 class="my-3">Logo Contest <span>&#8594;</span></h3>
              </div>
  
            </div>
            <div class="d-flex justify-content-center my-3 gap-3">
              <button class="slider-next">&#8592;</button>
              <button class="slider-prev">&#8594;</button>
            </div>
            <!-- <div class="swiper-pagination my-5"></div> -->
          </div>
        </div>
        <img src="assets/images/bottom-wave.svg" class="w-100" alt="" />
      </div>
      <!-- contenst  -->
      <!-- testimonial  -->
      <div id="testimonial">
        <div class="container my-5">
          <h1>Testimonial <span>&#8594;</span></h1>
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
               <p class=""><span>"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quaerat sit sequi unde cupiditate quas deleniti nihil quam, similique at quasi eos ullam id quis eius ipsam nisi blanditiis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis ea rerum rem explicabo, voluptate eius dolorum voluptas nulla eveniet vero, porro placeat. Eveniet vel minima illo aspernatur ex temporibus! <span>"</span></p>
               <h2 class="text-center py-3">- <span>Suraj</span> Mishra</h2>
              </div>
              <div class="swiper-slide">
               <p class=""><span>"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quaerat sit sequi unde cupiditate quas deleniti nihil quam, similique at quasi eos ullam id quis eius ipsam nisi blanditiis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis ea rerum rem explicabo, voluptate eius dolorum voluptas nulla eveniet vero, porro placeat. Eveniet vel minima illo aspernatur ex temporibus! <span>"</span></p>
               <h2 class="text-center py-3">- <span>Suraj</span> Mishra</h2>
              </div>
              <div class="swiper-slide">
               <p class=""><span>"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quaerat sit sequi unde cupiditate quas deleniti nihil quam, similique at quasi eos ullam id quis eius ipsam nisi blanditiis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis ea rerum rem explicabo, voluptate eius dolorum voluptas nulla eveniet vero, porro placeat. Eveniet vel minima illo aspernatur ex temporibus! <span>"</span></p>
               <h2 class="text-center py-3">- <span>Suraj</span> Mishra</h2>
              </div>
             
            </div>
          </div>
          <div class="d-flex justify-content-center my-3 gap-3">
            <button class="slider-next">&#8592;</button>
            <button class="slider-prev">&#8594;</button>
          </div>
        </div>
        </div>
      </div>
      <!-- testimonial  -->
      <!-- contact  -->
      <div id="contact" class="white-bg">
        <img src="assets/images/top-wave.svg" class="w-100" alt="">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Contact <span>&#8594;</span></h1>
            </div>
            <div class="col-md-6">
              <form action="">
                <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Enter Your Name..">
                </div>
                <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Email..">
                </div>
                <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Phone..">
                </div>
                <div class="mb-2">
                  <textarea name="" class="form-control" placeholder="Message.." id="" cols="30" rows="10"></textarea>
                </div>
                <div class="mb-2">
                  <input type="submit" class="col-md-12 primary-button border-0">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- contact  -->
    </div>
    <!-- main  -->

    <!-- scripts  -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/three.js"></script>
    <script src="assets/js/gsap.js"></script>
    <script src="assets/js/scrollTrigger.js"></script>
    <script src="assets/js/debug.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- scripts  -->
  </body>
</html>
